div(layout="row", ng-cloak)
    md-sidenav.md-whiteframe-20dp.md-sidenav-left(layout="column", md-component-id="left", md-is-locked-open="false")
        md-toolbar.md-whiteframe-20dp(layout="row", layout-align="space-between center")
            h5 CogniExams
            
    div.relative(layout="column", layout-fill, role="main")
        md-toolbar.md-whiteframe-20dp(layout="row", layout-align="space-between center")
            h5 CogniGames
            
        md-content(flex, md-scroll-y)
            div(layout="column", layout-fill, layout-padding)
                h1 Test
                div(data-ui-view, layout="column", layout-fill, layout-padding)
            
            